@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap')
* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    display: grid;
    /* grid-template-rows: auto 1fr auto; */
        /* three rows defined here */
     grid-template-columns: 2fr 1fr;
        /* two columns defined here */
    font-family: sans-serif;
    font-size: 24px;
    min-height: 100vh;
}
header {
    grid-column: span 2;
}

.header {
    display: flex;
}

aside {
   
    background-color: #38b18a;
    border-radius: 150px;
}

main {
    margin-top: 40px;
    padding-top: 40px;
    background-color: #92d97c;
    border-radius: 150px;
}


h1 {
    font-size: 75px;
    text-align: center;
}
 .words {
    display: flex;
    justify-content: center;
} 
h2 {
    margin-top: 40px;
    margin-left: 40px;
}

.subtitle {
    margin-top: 40px;
        margin-left: 40px;
}
.keyboard {
    font-size: 42px;
}

.image {
    display: flex;
        justify-content: center;
}
img {
    display: flex;
    justify-content: center;
    width: 100%;
}
h3 {
font-size: 100px;
text-align: center;
}

p {
    text-align: center;
}

.gif {
    width: 20%;
    border-radius: 150px;
}