@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Cherry+Cream+Soda&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  margin: 0px;
  justify-content: center;
}

.gameboard {
max-width: 1920px;
  display: grid;
  /* grid-template-rows: auto 1fr auto; */
  /* three rows defined here */
  grid-template-columns: 2fr 1fr;
  /* two columns defined here */
  font-family: "Cal Sans", sans-serif;
  /* height: 100%; */
}
header {
 
  grid-column: span 2;
  display: flex;
  justify-content: row;
 
  background-color: #fff;
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
  background-image: linear-gradient(
      45deg,
      #023047 25%,
      transparent 25%,
      transparent 25%,
      #023047 75%,
      #023047
    ),
    linear-gradient(
      45deg,
      #023047 25%,
      transparent 25%,
      transparent 75%,
      #023047 75%,
      #023047
    );
padding-top: 40px;
padding-bottom: 40px;;
}

.header {
    display: flex;
    justify-content: row;
    background-color: #023047;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.foodlady {
  border-radius: 20px;
  color: #fbcbb7;

  margin: 20px;
  padding: 20px;
  width: 800px;
}
.head {
  display: flex;
  justify-content: row;
  
}
aside {
  background-image: url("https://i.ibb.co/GQ60MwWD/plate.png");
  background-repeat: no-repeat;
  background-color: #fbcbb7;
  background-size: 900px;
  background-position: center;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 0px;
  margin-top: 40px;
  height: 1000px;
  width: 1200px;
}

main {
  background-color: #023047;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 40px;
  height: 1000px;
  padding: 20px;
}

h1 {
  font-size: 120px;
  text-align: center;
  margin-bottom: 0px;
}
.keyboard {
  display: flex;
  justify-content: center;
}
h2 {
  color: #fbcbb7;
  margin-top: 40px;
  margin-left: 40px;
  text-align: center;
  font-size: 46px;
}

.subtitle {
  margin-top: 40px;
  margin-left: 40px;
}
.letters {
  width: 80px;
  font-size: 70px;
  border-radius: 20px;
}

.image {
  display: flex;
  justify-content: center;
}
img {
  display: flex;
  justify-content: center;
  width: 250px;
}
h3 {
    color: #fbcbb7;
  font-size: 100px;
  text-align: center;
  font-size: 32px;
}

p {
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
}

.gif {
  width: 20%;
  border-radius: 20px;
}

.placeholder {
  display: flex;
  gap: 5px;
  font-size: 100px;
  justify-content: center;
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: center;
}

.choose-word {
  font-size: 28px;
    font-family: "Cal Sans", sans-serif;
  border-radius: 20px;
  margin: 30px;
  padding: 16px;
  color: #023047;
  background-color: #fbcbb7;
  
}

.play-again {
  font-size: 24px;
  border-radius: 20px;
  margin: 30px;
  padding: 16px;
}
/* .checkered3 { */
/* background-color: #FFF;
    background-size:  100px 100px;
    background-position: 0 0, 50px 50px;
    background-image: linear-gradient(45deg, #023047 25%, transparent 25%, transparent 75%, #023047 75%, #023047),
        linear-gradient(45deg, #023047 25%, transparent 25%, transparent 75%, #023047 75%, #023047);

} */

.mac {
  position: relative;
  left: -440px;
  top: 0px;
  z-index: 0;
}

.fries {
  position: relative;
  left: -300px;
  top: 120px;
  z-index: 0;
}
.salad {
  position: relative;
  left: 250px;
  top: 100px;
  z-index: 0;
}

.peach {
  position: absolute;
  left: 1350px;
  top: 1100px;
  z-index: 0;
}
.kabob-div{
    margin-top: -300px;
    margin-left: 380px;
}
.kabob {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: -1300;
}
.tacos-div{
    margin-top: -90px;
    margin-left: -380px;

}
.tacos {
  width: 320px;
  margin-top: -100x;
  margin-left: 50px;
}

.slawdiv {
width: 200px;
margin-left: -35px;
margin-top: -40px;
}

.chicdiv {
 
  width: 100px;
  margin-top: -10px;
  margin-left: -160px;
  margin-bottom: 0px;
}

.avoc {
    margin-left: 100px;
}
.pom {
    width: 200px;
    margin-top: -200px;
}

.logo {
  margin-right: 0;
}

.foodlady {
    margin-top: -65px;
  margin-left: -110px;
}

.win-gif {
     display: block;
    width: 100%;
   margin-left: auto;
  margin-right: auto;
  margin-top: auto;
   margin-bottom: auto;

}
.win {
    display: block;
    width: 80%;
    border-radius: 20px;
   margin-top: 150px;
   margin-bottom: auto;
    margin-left: auto;
  margin-right: auto;
}
.lose-gif {
     display: block;
    width: 100%;
   margin-left: auto;
  margin-right: auto;
  margin-top: auto;
   margin-bottom: auto;

}
.lose {
    display: block;
    width: 80%;
    border-radius: 20px;
   margin-top: 150px;
   margin-bottom: auto;
    margin-left: auto;
  margin-right: auto;
}

.messages {
    margin-top: 60px;
    height: 200px;
}